.article-wood {
  text-align: left;
  max-width: 50vw;
  width: 100%;
  position: absolute;
  bottom: -10vh;
  left: 50%;
  margin-left: -25vw;
  background-color: var(--chalk);
  max-height: 500px;
  transition: .2s;
  padding: 2em 4em;
  color: #fff;

  &:active {
      animation: shake .1s infinite;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__half {
    flex: 1 0 50%;
    padding: 1em;
    font-family: 'Handlee', cursive;

    h1 {
      font-family: 'Fredericka the Great', cursive;
      font-size: 2em;
      font-weight: 300;
    }
  }

  &__salad {
    position: absolute;
    right: -6em;
    bottom: -3em;
    max-width: 200px;
    width: 100%;
  }

  &::before {
    position: absolute;
    top: 0;
    left: -59px;
    background-image: url(../../img/fry-side.svg);
    background-size: cover;
    content: "";
    height: 100%;
    width: 60px;
    z-index: -1;
  }

  &::after {
    position: absolute;
    top: 0;
    right: -59px;
    transform:scaleX(-1);
    background-image: url(../../img/fry-side.svg);
    background-size: cover;
    content: "";
    height: 100%;
    width: 60px;
    z-index: -1;
  }

}

.recipe {
  margin: 1em 0.5em;
  position: relative;

}

.recipe-price {
  margin-top: 5px;
  border-radius: 8px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.fry-recipe-price {
  margin-top: .3em;
}

.article-wood-fries {
  text-align: left;
  max-width: 50vw;
  max-height: 500px;
  width: 100%;
  position: absolute;
  bottom: -10vh;
  left: 50%;
  margin-left: -25vw;
  transform-origin: center;
  background-color: var(--chalk);
  transition: .2s;
  padding: 2em;
  color: #fff;

  &__inner {
    max-height: 450px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  &__half {
    flex: 1 0 50%;
    padding: 1em;
    font-family: 'Handlee', cursive;

    &:nth-of-type(2){
      margin-top: 32px;
    }

    h1 {
      font-family: 'Fredericka the Great', cursive;
      font-size: 2em;
      font-weight: 300;
    }

  }

  &__salad {
    position: absolute;
    right: -6em;
    bottom: -3em;
    max-width: 200px;
    width: 100%;
  }

  &:hover {
    -webkit-perspective: 100px; /* Safari 4-8  */
    perspective: 100px;

  }

  &::before {
    position: absolute;
    top: 0;
    left: -59px;
    background-image: url(../../img/fry-side.svg);
    background-size: cover;
    content: "";
    height: 100%;
    width: 60px;
    z-index: -1;
  }

  &::after {
    position: absolute;
    top: 0;
    right: -59px;
    transform:scaleX(-1);
    background-image: url(../../img/fry-side.svg);
    background-size: cover;
    content: "";
    height: 100%;
    width: 60px;
    z-index: -1;
  }

}
