/* fries styling */
.friet-1{fill:#fbd013}
.friet-2{fill:#e8b401}
.friet-3{fill:#e60f22}
.friet-5{fill:#af1019}

/* meat styling */
.vlees{fill:#aa271f}

.bubble1{fill:#fff;
  opacity:.35;
  isolation:isolate}
.bubble{fill:#e2e2e2}
.blob{fill:#efefef}

/*salad style*/
.salad-1{fill:#14642e}
.salad-2{fill:#3e8132}
.salad-3{fill:#67b55d}
.salad-4{fill:#90c159}
.salad-5{fill:#4a8947}
.salad-6{fill:#d6d6d6}
.salad-7{fill:#619954}
.salad-8{fill:#99a721}
.salad-11{fill:#547129}
.salad-12{fill:#6d8d2c}
.salad-14{fill:#f2cc24}
.salad-15{fill:none}
.salad-16{fill:#8e9f4d}
.salad-17{fill:#a1b944}
.salad-18{fill:#c22761}
.salad-19{fill:#dc3669}

.salad-cloud-1{fill:#353535}
.salad-cloud-2{fill:#99c440}
.salad-cloud-3{fill:#5ca33e}
.salad-cloud-8{fill:#282827}
.salad-cloud-28{fill:none}
.salad-cloud-13{fill:#6d8d2c}
.salad-cloud-15{fill:#14642e}
.salad-cloud-16{fill:#3e8132}
.salad-cloud-17{fill:#67b55d}
.salad-cloud-18{fill:#90c159}
.salad-cloud-19{fill:#4a8947}
.salad-cloud-20{fill:#f8fbf7}
.salad-cloud-21{fill:#619954}
.salad-cloud-22{fill:#99a721}
.salad-cloud-25{fill:#547129}
.salad-cloud-27{fill:#f2cc24}
.salad-cloud-29{fill:#8e9f4d}
.salad-cloud-30{fill:#a1b944}
.salad-cloud-31{fill:#c22761}
.salad-cloud-32{fill:#dc3669}

.curtain-1{fill:#b7842a;}
.curtain-2{fill:#afafaf;}
.curtain-3{fill:#991734;}
.curtain-4{fill:#871633;}

.cls-50{fill:#fff}
.cls-51{fill:#333}
.cls-52{fill:#222}
.cls-53{fill:#fff}
